.sidebar-logo {
      padding: 1.5rem;
}

.sidebar-logo img {
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      width: 160px;
      margin: 0 auto;
}

.sidebar .social-icons a {
	    margin-top: 80px;
      padding-right: 0.5em;
}

.fa-about {
  color: #505050;
}
.fa-about:hover {
  color: #268bd2;
}

.fa-sidebar{
  color: #ffffff;
}
.fa-sidebar:hover{
  color: #268bd2;
}

.button {
    font-family: "PT Serif", Georgia, "Times New Roman", serif;
    background-color: #268bd2; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    font-weight: 400;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
    background-color: #505050;
    color: white;
}

.left
{
  float: left;
}

.right
{
  float: right;
  margin-top: 15px;
}
